@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.eot');
	src: local('☺'), url('../fonts/Roboto-Regular.woff') format('woff'),
		url('../fonts/Roboto-Regular.ttf') format('truetype'), 
		url('../fonts/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Medium';
	src: url('../fonts/Roboto-Medium.eot');
	src: local('☺'), url('../fonts/Roboto-Medium.woff') format('woff'),
		url('../fonts/Roboto-Medium.ttf') format('truetype'), 
		url('../fonts/Roboto-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Bold';
	src: url('../fonts/Roboto-Bold.eot');
	src: local('☺'), url('../fonts/Roboto-Bold.woff') format('woff'), 
		url('../fonts/Roboto-Bold.ttf') format('truetype'), 
		url('../fonts/Roboto-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



/*--------------------------------------------------------
Resets
--------------------------------------------------------*/
html, body { height: 100%;font-family: 'Roboto-Bold'; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1.2; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/**************************PLACE HOLDER CSS*************************/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #CB1130;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #CB1130;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #CB1130;
}
:-moz-placeholder { /* Firefox 18- */
  color: #CB1130;
}

#more-info input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #6D6D6D;
}
#more-info input::-moz-placeholder { /* Firefox 19+ */
  color: #6D6D6D;
}
#more-info input:-ms-input-placeholder { /* IE 10+ */
  color: #6D6D6D;
}
#more-info input:-moz-placeholder { /* Firefox 18- */
  color: #6D6D6D;
}
#more-info input:focus::-webkit-input-placeholder {
    color: #CB1130;
}
#more-info input:focus:-moz-placeholder {
    color: #CB1130;
}
#more-info input:focus::-moz-placeholder {
    color: #CB1130;
}
#more-info input:focus:-ms-input-placeholder {
    color: #CB1130;
}


#more-info textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #6D6D6D;
}
#more-info textarea::-moz-placeholder { /* Firefox 19+ */
  color: #6D6D6D;
}
#more-info textarea:-ms-input-placeholder { /* IE 10+ */
  color: #6D6D6D;
}
#more-info textarea:-moz-placeholder { /* Firefox 18- */
  color: #6D6D6D;
}
#more-info textarea:focus::-webkit-input-placeholder {
    color: #CB1130;
}
#more-info textarea:focus:-moz-placeholder {
    color: #CB1130;
}
#more-info textarea:focus::-moz-placeholder {
    color: #CB1130;
}
#more-info textarea:focus:-ms-input-placeholder {
    color: #CB1130;
}

/*--------------------------------------------------------
BEGIN THEME STYLESHEET
--------------------------------------------------------*/


::-moz-selection {
 background: #f26a23;
 color: white;
}
::selection { background: #f26a23; color: white; }
a, a:visited, a:hover { outline: none;font-family: 'Roboto-Bold'; }
body { font-weight:700;background: white; color: #3a3a3a; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; overflow-x: hidden; }
img.responsive { width: 100%; height: auto; }
.hidden { display: none; }
em { font-style: italic; }
strong { font-weight: bold; }
small { font-size: 80%; }
hr { border: solid #eeeeee; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }
pre { height: auto; border: 1px solid #f0f0f0; background: #fafafa; padding: 10px 20px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; margin: 0 0 20px 0; overflow-x: auto; }
.hidden { display: none !important }
.responsive img, .responsive iframe, .responsive object, .responsive embed { width: 100%; width: 100%; height: auto; }
/*==== Anchor Links ====*/
img { max-width: 100%; height: auto; }
a { font-size:16px;color: #000000; text-decoration: none; outline: 0; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
a:hover, a:focus { color: #CB1130; }
a:focus { outline: none; outline-offset: 0; }
p a, p a:visited { line-height: inherit }
/*==== Lists ====*/
ul, ol { margin-bottom: 20px }
ul { list-style: none; }
ul.styled-list { padding: 0; }
ol, ul { margin: 0; padding: 0 0 0 0px; }
ol { list-style: decimal }
ul li ul, ol li ul, ol li ul, ol li ol { margin-bottom: 0 }

/*--------------------------------------------------------
/* TYPOGRAPHY
--------------------------------------------------------*/
.head-container{max-width:1406px;margin:0 auto;float:none;padding:0 20px;}
.container{max-width:1480px;margin:0 auto;float:none;padding:0 20px;}
h1, h2, h3, h4, h5, h6 { font-weight: 400; margin-bottom: 10px; }
body #load { width: 100%; height: 100%; position: fixed; overflow: hidden; z-index: 1001; background-color: #ffffff; }
h1 { font-family: 'Roboto-Bold';font-size: 50px;position: relative; margin-bottom: 0px; }
h2 { font-family: 'Roboto-Bold'; font-size: 42px;position: relative;color:#000; }
h3 { font-family: 'Roboto-Bold'; font-size: 30px; }
h4 { font-family: 'Roboto-Bold'; font-size: 22px; }
h5 { font-family: 'Roboto-Bold'; font-size: 20px; }
h6 { font-family: 'Roboto-Bold'; font-size: 18px;  }
p { margin-bottom: 10px; font-family: 'Roboto-Regular';line-height:1.1; }
p.lead { font-family: 'FuturaLT-Bold'; font-size: 16px; line-height: 1.2; padding: 0; margin-bottom: 20px; position: relative; z-index: 1; font-weight: 600; }


/*--------------------------------------------------------
/* header style
--------------------------------------------------------*/
header { position: fixed; width: 200px; left: 0; height: 100vh;box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.16); }
.right-sec { width: calc(100% - 201px); margin: 0 0 0 auto; }
.l-menu li a { font-size: 18px;position:relative; }
.l-menu li { padding: 0 40px 35px;position:relative; }
.head-inner { height: 90vh;position:relative; }
.social-icon { height: 10vh;text-align:center; }
.l-menu {position: absolute;top: 50%;transform: translateY(-50%);}
.social-inner a { padding: 0 9px; }
.l-menu li:hover:after { content: ""; position: absolute; height: 3px; width: 20px; left: 0; background: #CB1130; top: 9px; }
.logo { text-align: center; padding-top: 23px; }

/*--------------------------------------------------------
/* banner style
--------------------------------------------------------*/

.banner { height: 100vh; display: flex; align-items: center;  background: url(../images/about.png); background-repeat: no-repeat; background-size: cover; background-position: center;position:relative; }
.banner:before{content:"";position:absolute;height:100%;width:100%;top:0;left:0;background-color:rgba(0,0,0,0.6);}
.banner-inner { position: relative; color: #fff; max-width: 630px;padding-left:63px; }
.banner-inner h1:after { content: ""; position: absolute; height: 2px; width: 60px; background: #CB1130; left: 0; bottom: 0; }
.banner-inner h1 { position: relative; padding-bottom: 13px; margin-bottom: 45px; }
form.serch { display: flex; flex-wrap: wrap; }
.s-loc:after { content: "\f041"; position: absolute; right: 10px; top: 20px; font-family: fontawesome; color: #CB1130; }
.s-loc{position:relative;}
button.submit {font-family: 'Roboto-Regular'; border: 0; background: #CB1130; color: #fff; margin-left: 23px; border-radius: 5px; padding: 0 20px; min-width: 200px; }
.banner-inner p { font-size: 16px; line-height: 1.3;font-family: 'Roboto-Regular';font-weight:300;margin-bottom:60px; }
form.serch input { font-family: 'Roboto-Regular'; min-width: 320px; font-size: 14px; padding: 19px 20px; font-weight: 400; border-radius: 5px; -webkit-appearance: none; outline: 0; box-shadow: none; border: 0; }
button.submit:hover { background: rgba(203, 17, 48, 0.8); }

/*--------------------------------------------------------
/* Explre room style
--------------------------------------------------------*/

.explore h2 { color: #000000;margin-bottom:50px; }
.explore { padding-top: 39px; }
.r-img {line-height:0; }
.explore h2:after { content: ""; position: absolute; width: 60px; height: 3px; background: #CB1130; left: 0; bottom: -10px; }
.r-detail a {  transition: 0.5s all;font-size: 24px; color: #CB1130; position: relative;margin-bottom:10px;display:block;max-width:180px; }
.r-detail { padding: 20px; }
.r-main > div:nth-of-type(3n) { margin-right: 0; }
.r-main { display: flex;flex-wrap: wrap; }
.r-main > div { width: 31%; margin-right: 3.5%;margin-bottom:50px;max-width:390px; }
.r-detail { padding: 20px; border: 1px solid rgba(0,0,0,0.16); box-shadow: 0 3px rgba(0,0,0,0.16); }
.r-img img { max-width: 100%; height: 390px; width: 100%; }
.r-detail a:after { content: "\f061"; font-family: fontawesome; right: 9px; top: 8px;transition: 0.5s all;height: 10px; width: 12px; font-size: 14px; position: absolute; }
.r-detail a:hover:after { right: -10px; transition: 0.5s all; }
.r-detail p { color: #6D6D6D; font-size: 18px; }

/*--------------------------------------------------------
/* FEATURE style
--------------------------------------------------------*/

.feature-l ul li { font-family: 'Roboto-Regular'; color: #6D6D6D;position:relative; font-size: 22px; font-weight: 400; border-bottom: 1px solid #F3F3F3; padding: 17px 0 6px;padding-left:18px; }
.f-inner { display: flex; align-items: center; justify-content: center; }
.f-inner > div { width: 50%; }
.feature-l ul li:before { content: "\f0da"; position: absolute; font-family: fontawesome; left: 0; color: #CB1130; }
.feature h2:after { content: ""; position: absolute; background: #CB1130; height: 3px; width: 60px; bottom: -10px; left: 0; }
.feature h2 { position: relative; margin-bottom:12px;}
.feature-l ul{max-width:600px;padding-right:30px}

/*--------------------------------------------------------
/* Testimonial style
--------------------------------------------------------*/

.testimonial { margin-top: 40px; }
.testimonial h2{position:relative;margin-bottom:83px;}
.testimonial h2:after { content: ""; position: absolute; background: #CB1130; height: 3px; width: 60px; bottom: -10px; left: 0; }
.test{text-align:center;}
.slick-slide img{margin:0 auto;margin-bottom:20px;}
.test { text-align: center; max-width: 700px; margin: 0 auto; padding: 0 20px; }
.main h6 { color: #CB1130; font-size: 18px; }
.main h6 span { font-size: 16px; color: #000;padding-left:10px;font-family: 'Roboto-Regular'; }
.main p {margin-bottom:54px; color: #000; font-size: 16px; line-height: 1.5;font-family: 'Roboto-Regular';font-weight:400; }
.slick-dots li { position: relative; display: inline-block; width: 15px; height: 15px; margin: 0 5px; padding: 0; cursor: pointer;background: rgba(203, 17, 48, 0.5);; border-radius: 50%; }
.slick-dots li.slick-active { background: #CB1130; }
.slick-dots{max-width:640px;bottom:0;}
.test-inner { border: 1px solid rgba(0, 0, 0, 0.16); box-shadow: -6px 5px 8px rgba(0, 0, 0, 0.16);padding-top:50px;padding-bottom:20px;}

/*--------------------------------------------------------
/* subscribe style
--------------------------------------------------------*/

.subscribe p { text-align: center;color:#fff;font-weight:400;margin-bottom:25px; }
.subscribe { margin-top: 50px;background: #CB1130;padding:50px 0; }
form.subscribe-f input { font-family: 'Roboto-Regular'; min-width: 320px; font-size: 14px; padding: 19px 20px; font-weight: 400; border-radius: 5px; -webkit-appearance: none; outline: 0; box-shadow: none; border: 0; }
button.subscribe-btn { font-family: 'Roboto-Regular';width: 200px; padding: 16px 0; background: #000; color: #fff; border: 0; border-radius: 5px; }
form.subscribe-f { display: flex; justify-content: center; flex-wrap: wrap; }
.serch-loc { margin-right: 30px; }
button.subscribe-btn:hover { background: rgba(0, 0, 0, 0.8); }
.cf:after, .cf:before{content: ""; display: block; clear: both}

/*--------------------------------------------------------
/* contact-us style
--------------------------------------------------------*/

.contact-us { padding: 50px 0; }
.contact-us h2{position: relative; margin-bottom:53px;}
.contact-us h2:after { content: ""; position: absolute; background: #CB1130; height: 3px; width: 60px; bottom: -10px; left: 0; }
form { padding: 8px 0 0 0; width:100%; } 
/*.res-flip { display: flex; flex-wrap: wrap; }*/
.col-1 { width: 100%; outline: none;} 
.form-field > input#phone { width:100%; padding: 20px; border: solid 1px #331e4c; border-radius: 40px; box-sizing: border-box; font-weight: 700; outline: none; font-family: 'Lato'; }
.col-1 .form-field { width: 100%;}
.col-1 label { color: #331e4c; font-size: 16px; letter-spacing: 0.5px; }
.col-1 .form-field textarea#message { font-family: 'Roboto-Regular';width: 100%; padding: 20px; font-size: 14px; border: solid 1px #CB1130;height: 258px; outline: none; resize: none; max-width: -webkit-fill-available; }
form.contactForm input { font-family: 'Roboto-Regular';border-radius: 0; border: solid 1px #CB1130; outline: 0000000000000; width: 100%; max-width: 800px; box-sizing: border-box; box-shadow: none; padding: 42px 20px; font-size: 14px; margin-bottom: 50px; }
.contact-us-left { width: 60%; }
.contact-us-right{width:35%;margin-left:5%;}
.contact-us-inner { display: flex; align-items: center; justify-content: center; flex-wrap: wrap; }
button.contact-sub { background: #CB1130; border: 0; color: #fff; width: 200px; padding: 18px 0; display: block; font-size: 18px; border-radius: 5px; margin-top: 46px; }
.cont .checkmark:after { left: 11px; top: 7px; width: 5px; height: 10px; border: solid white; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.cont input:checked ~ .checkmark:after {display: block;}
.checkmark:after {content: "";position: absolute;display: none;}
.cont input:checked ~ .checkmark {background-color: #CB1130;border: 1px solid #CB1130;}
.checkmark { position: absolute; top: 0; left: 0; height: 30px; width: 30px; background-color: transparent; border: 1px solid #707070; }
.cont input {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}
.cont {display: block;position: relative;padding-left: 35px;margin-bottom: 12px;cursor: pointer;font-size: 22px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.cont.cir .checkmark { height: 18px; width: 18px; border-radius: 50%; }
form#more-info { margin-bottom: 74px; }
.b-detail h3 { margin-bottom: 30px; }


/*--------------------------------------------------------
/* footer part style
--------------------------------------------------------*/

footer p { text-align: right; margin-bottom: 0; padding: 30px 0; border-top: 1px solid #EBEBEB;font-size: 18px;font-weight:400;color: #000; }
/*************responsive menu******************************/

.sidenav {height: 100%;width: 0;position: fixed;z-index: 2;top: 0;left: 0;background-color:#CB1130;overflow-x: hidden;transition: 0.5s;padding-top: 60px;	}
.sidenav a {padding: 8px 8px 8px 32px;text-decoration: none;font-size: 14px;color: #fff;display: block;transition: 0.3s;lfont-family: 'FuturaLT-Bold';}
.sidenav a:hover {color: #f1f1f1;}
.sidenav .closebtn {position: absolute;top: 0;right: 20px;font-size: 36px;margin-left: 50px;}
.toggle { position: absolute; left: 20px; top: 15px; display: none;color:#fff; }



/*--------------------------------------------------------
/* Reservation page style atart here
--------------------------------------------------------*/

.res-right { width: 445px; margin-left: 0%; position: relative;}
.res-right form{padding:30px;}
section.res-right p { font-size: 18px; text-align: center; background: #CB1130; color: #fff; padding: 16px 0; margin-bottom: 0; }
.res-flip.cf { width: 100%; display: flex; align-items: flex-start; }
.res-right-inner { position: fixed; top: 60px; border: 1px solid #CB1130; width: 445px; }
.res-left { width: calc(100% - 444px); }
.r-left-inner { padding-right: 9%; }
.main-s img {box-shadow: 59px 67px #EBEBEB;max-height:580px;max-width: 980px;width: 100%;}
.feature-rl ul li { font-family: 'Roboto-Regular'; color: #6D6D6D; position: relative; font-size: 22px; font-weight: 400; border-bottom: 1px dashed #707070; padding: 17px 0 6px; padding-left: 0; margin-bottom: 20px; padding-bottom: 8px; }
.exp p { margin-bottom: 50px; }
#about-inner { margin-bottom: 90px; width:93%;}
.feature-rl h3 { color: #6D6D6D;padding-top:15px; }
.feature-rl h3 span{color:#CB1130;}
.book-now a {margin-top:60px;border-radius: 5px;padding: 15px 0;background: #CB1130; color: #fff; max-width: 200px; display: block;font-size:18px; text-align: center;font-family: 'Roboto-Regular'; }
.book-now a:hover { background: rgba(203, 17, 48, 0.8); }

.logo-top { text-align: center;padding-bottom:30px; }
.f-menu ul li { display: inline-block; margin: 0 auto; position: relative; padding: 0 25px; }
.f-menu ul { text-align: center; }
.f-menu ul li:before { content: ""; position: absolute; left: -6px; height: 12px; width: 12px; border-radius: 50%; background: #CB1130; top: 5px; }
.footer-top { padding-bottom: 30px; }

/*--------------------------------------------------------
/* Reservation form style start here
--------------------------------------------------------*/

.col-x2 { display: flex;width: 100%; }
.reservation-form label {padding-bottom:10px; color: #000000; font-size: 18px;font-family: 'Roboto-Bold';display:block; }
.col-x2 > div { width: 49%; }
.col-x2 > div:first-child{margin-right:2%;}
.night select {width: 100%;}
.ch-in input { max-width: 198px; width: 100%; }
.night select { max-width: 138px; width: 100%; }
.reservation-form input {margin-bottom:45px;font-size:16px; background: #CB1130; color: #fff; border: 0; border-radius: 5px; padding: 16px 15px; box-sizing: border-box; outline: 0; }
.reservation-form select {background:#CB1130; margin-bottom: 45px;max-width:139px;font-size:16px; color: #fff; border: 0; border-radius: 5px; padding: 16px 10px; width: 100%; }
.reservation-form li { display: flex; align-items: center; flex-wrap: wrap; }
.ch-out{width:49%;max-width: 198px;position:relative;}
.ch-out input {max-width: 198px;width: 100%;}
.ch-out:after { content: ""; position: absolute; background: url(../images/09.png); height: 24px; width: 24px; top: 43px; right: 12px; background-size: 24px; }
.col-x1 { width: 100%; }
.fixed{position:relative !important;}
.ch-in{position:relative; max-width: 198px;}
.ch-in:after { content: ""; position: absolute; background: url(../images/09.png); height: 24px; width: 24px; top: 43px; right: 12px; background-size: 24px; }
.col-x3 { display: flex; flex-wrap: wrap;width:100%; align-items:center;}
.r1 label { padding-right: 20px; }
.r1{ width:30%; }
.adu { width: 30%; margin-right: 2%; }
.child{width:27%;}
.main-s{position:relative;}
button.booking {border-radius: 5px; background: #CB1130; border: #CB1130; padding: 16px 17px; font-size: 16px; color: #fff; text-transform: uppercase; }

/*--------------------------------------------------------
/* explore page style atart here
--------------------------------------------------------*/


#explore p { font-size: 16px; font-weight: 400; line-height: 1.6; }


/*********************confermation page style***************************/

.book { padding-top: 55px;position:relative;padding-bottom: 15px; }
.book h2{position:relative;padding-bottom: 15px;margin-bottom: 100px;}
.book h2:after { content: ""; position: absolute; background: #CB1130; height: 3px; width: 60px; left: 0; bottom: 0; }
.check-detail { display: flex; flex-wrap: wrap; }
.b-detail h4 { font-size: 30px; margin-bottom: 30px; }
.check-detail { display: flex; flex-wrap: wrap; max-width: 1350px; border: 1px solid #000; padding: 0px 20px; line-height: 2.1; }
.check-right h5 { margin-bottom: 0;font-size:30px; }
.check-right { width: 67%; padding: 45px 0 42px; padding-left: 2%; }
.b-detail > div:last-child { border-top: 0; }
.check-left { width: 30%; padding: 45px 0 42px; border-right: 1px solid #707070; }
.check-left h5 { margin-bottom: 0;font-size:30px; }
.check-right h5 span { color: #CB1130;font-family: 'Roboto-Regular'; }
.cont.cir .checkmark:after { left: 6px; top: 3px; width: 3px; height: 6px; border: solid white; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }


section#rvmain { margin-top: 60px; }
.b-detail { margin-bottom: 60px; }
.acm h3 { margin-bottom: 20px; }
.acm p { font-size: 18px;margin-bottom:30px; }
.acm p span{color:#CB1130;line-height:1.5;}
#acm label{font-family: 'Roboto-Regular'; font-size:23px;font-weight:400;display:block;    margin-bottom: 30px;}
#acm select {box-shadow: 0px 1px 0px 1px #707070; max-width: 800px; background: #fff url(../images/caret-down.png); background-repeat: no-repeat; background-position: 98%; background-size: 20px; width: 100%; height: 100px; -webkit-appearance: none; padding: 0 20px; font-size: 20px;margin-bottom:60px;}
#acm li label { display: inline-block; margin-bottom: 0; vertical-align: middle;font-size: 18px; }
#acm ul li { margin-bottom: 20px; }
#acm li input { display: inline-block; vertical-align: middle; }
#acm { margin-bottom: 50px; }

.addtional-s h3 { margin-bottom: 50px; }
.addtional-s ul { display: flex; flex-wrap: wrap; }
.addtional-s ul li { width: 50%; }
.addtional-s ul li label{font-family: 'Roboto-Regular';font-size:18px;}
.addtional-s select { box-shadow: 0px 1px 0px 1px #707070;max-width: 200px; background: #fff url(../images/caret-down.png); background-repeat: no-repeat; background-position: 98%; background-size: 20px; width: 100%;margin-left: 10px;margin-right: 10px; height: 80px; -webkit-appearance: none; padding: 0 20px; font-size: 20px; margin-bottom: 60px; }

.info p { font-size: 18px; margin-bottom:50px;}
.addtional-s h3 span { color: #CB1130; }
.addtional-s h3{color:#6D6D6D;}
.info h3 { margin-bottom: 30px; }
#more-info input { font-family: 'Roboto-Regular';font-size:18px;box-shadow: 0px 1px 0px 1px #707070;border: 1px solid #707070; outline: 0; height: 80px; max-width: 600px; width: 100%; padding: 0 20px; box-sizing: border-box; margin-bottom: 60px; }
#more-info textarea {height:200px;font-family: 'Roboto-Regular';font-size:18px; box-shadow: 0px 1px 0px 1px #707070;border: 1px solid #707070;max-width: 600px; width: 100%; padding: 20px; box-sizing: border-box; margin-bottom: 60px; }
#more-info input:focus{outline:0;box-shadow: 0px 1px 0px 1px #CB1130;border: 1px solid #CB1130;color:#CB1130}
#more-info input:active{outline:0;box-shadow: 0px 1px 0px 1px #CB1130;border: 1px solid #CB1130;color:#CB1130}
#more-info label {max-width:600px;font-family: 'Roboto-Regular';font-size: 18px; color: #6D6D6D;margin-bottom:30px;display:block; }
label.cont input { width: 0 !important; }
#more-info .cont{padding-left: 45px; padding-top: 6px;margin-bottom:60px; }
.book-now {border-radius: 5px; box-shadow: none; background: #CB1130; border: 0; color: #fff; height: 50px; width: 200px; font-size: 18px; cursor: pointer; }
#more-info textarea:focus {outline:0;box-shadow: 0px 1px 0px 1px #CB1130;border: 1px solid #CB1130;color:#CB1130;}
#more-info textarea:active {outline:0;box-shadow: 0px 1px 0px 1px #CB1130;border: 1px solid #CB1130;color:#CB1130;}

/**********************responsive start here******************************/

@media(max-width: 1700px){
	.res-right{right:8%;}
}

@media(max-width: 1600px){
	.res-right{right:4%;}
}


@media(max-width:1500px){
.container{padding:0 20px;}
.res-right{right:20px;width:31%;}
.col-x2 { display: flex; width: 100%; flex-wrap: wrap; }
.res-right form { padding: 40px 15px;}


}
@media(max-width:1200px){
	h1 { font-family: 'Roboto-Bold';font-size: 40px; text-transform: uppercase; position: relative; margin-bottom: 0px; }
	h2 { font-family: 'Roboto-Bold'; font-size: 35px; text-transform: uppercase; position: relative; }
	h3 { font-family: 'Roboto-Bold'; font-size: 30px; }
	h4 { font-family: 'Roboto-Bold'; font-size: 22px; }
	h5 { font-family: 'Roboto-Bold'; font-size: 20px; }
	h6 { font-family: 'Roboto-Bold'; font-size: 18px;  }
	.r-img img{height:auto;}
	form.contactForm input{padding:15px 20px;}
	.col-1 .form-field textarea#message{height:60px;}
	iframe {height: 600px;}
	.book h2{margin-bottom:50px;}
	.check-left h5,.check-right h5{font-size:25px;}
	.check-left{padding:20px 0;}
	.check-right { padding: 20px; width: 64%; }
	.b-detail {margin-bottom: 40px;}
	#acm select{height:50px;margin-bottom: 35px;}
	.addtional-s ul li label{font-size:16px;}
	.addtional-s select{max-width: 150px;background-position: 94%;}
	.res-right form { padding: 40px 8px; }
	.main-s img{box-shadow: 20px 25px #EBEBEB;}
	#about-inner{margin-bottom:40px;}
}


@media(max-width:1024px){
	.social-icon{height:20%;}
	.head-inner{height:80%;}
	h1 { font-family: 'Roboto-Bold';font-size: 35px; text-transform: uppercase; position: relative; margin-bottom: 0px; }
	h2 { font-family: 'Roboto-Bold'; font-size: 30px; text-transform: uppercase; position: relative; }
	h3 { font-family: 'Roboto-Bold'; font-size: 30px; }
	h4 { font-family: 'Roboto-Bold'; font-size: 22px; }
	h5 { font-family: 'Roboto-Bold'; font-size: 20px; }
	h6 { font-family: 'Roboto-Bold'; font-size: 18px;  }
	.banner{height:100%;padding:40px 0;}
	.feature-l ul li{font-size:18px;}
	form.contactForm input{margin-bottom:20px;}
	.r-detail a{font-size:18px;}
	.r-detail a:after { right: 42px; top: 3px; }
	.r-detail p{font-size:15px;}
	.check-right{padding:0;width:69%;}
	.check-left h5, .check-right h5{padding:20px 10px;}
	.check-detail{padding:0;}
	.addtional-s ul li {width: 100%;}
	.check-left{padding:0;}
	.b-detail{margin-bottom:20px;}
	#acm {margin-bottom: 35px;}
	.info p{margin-bottom:30px;}
	#more-info input{margin-bottom:30px;height:50px;}
	#more-info textarea{height:100px;}
	.col-x2{display:block;}
	.col-x2 > div:first-child { margin-right: 0; width: 100%; }
	.col-x3{display:block;}
	.r1 {width: 100%;}
	.adu { width: 100%; margin-right: 0; max-width: 100%; }
	.child {width: 27%;}
	.reservation-form input{margin-bottom:20px;}
	.ch-out{width:100%;}
	.res-right-inner{width:300px;}
	.res-left { width: calc(100% - 301px); }
}
@media(max-width:767px){
	h1{font-size:30px;}
	h2{font-size:25px;}
	h3{font-size:20px;}
	.l-menu{display:none;}
	.sidenav{display:block;}
	.toggle{display:block;}
	.social-icon{display:none;}
	.social li { display: inline-flex; align-items: center; justify-content: center; }
	ul.social { position: absolute; top: 100%; }
	.res-menu { position: relative; }
	header { position: fixed; width: 100%; left: 0; height: auto; }
	.right-sec{width:100%;}
	header { position: relative; width: 100%; left: 0; padding: 0 0; height: 60px;    background: #CB1130; }
	.res-menu li { list-style-type: none; }
	.banner-inner{padding:0 20px;}
	form.serch input{max-width:320px;min-width: auto;}
	button.submit{min-width:100px;margin-left:10px;}
	form.serch input{font-size:12px;padding:19px 24px 19px 8px;}
	.banner-inner p{margin-bottom:30px;}
	.banner-inner h1{margin-bottom:30px;}
	.r-main > div{width:48%;margin-right:4%;}
	.r-main > div:nth-of-type(2n){margin-right:0;}
	.r-main > div:nth-of-type(3n){margin-right:4%;}
	.r-main > div:last-child{margin-right:0;}
	.f-inner > div {width: 100%;}
	.f-inner{flex-wrap:wrap;display:flex;}
	.feature-l{order:2;}
	.feature h2{margin-bottom:30px;}
	.testimonial h2{margin-bottom:40px;}
	.test-inner{padding-top:20px;padding-bottom:0;}
	.contact-us h2{margin-bottom:30px;}
	.contact-us-inner{display:block;}
	.contact-us-left {width: 100%; padding-bottom: 30px;}
	.contact-us-right { width: 100%; margin-left: 0; }
	iframe{height:250px;}
	.f-inner > div{text-align:center;}
	.feature-l ul li{text-align:left;}
	.contact-us{padding:50px 0 30px;}
	footer p{padding:15px 0;font-size:14px;}
	.addtional-s select { max-width: 100px; background-position: 94%; height: 50px; }
	.check-left h5, .check-right h5 {font-size: 20px;padding:0 10px;}
	#more-info label{font-size:16px;}
	.checkmark{height:20px;width:20px;top:15px;}
	#more-info .cont{padding-left:33px;}
	.cont .checkmark:after { left: 7px; top: 2px;}
	.addtional-s select{margin-bottom:30px;}
	#more-info .cont{margin-bottom:35px;}
	form#more-info{margin-bottom:45px;}
	.f-menu ul li{margin-bottom:20px;}
	.res-right{position:relative;width:100%;right:0;top:0;}
	.res-right form{padding:40px 0;}
	.res-right { position: relative; width: 100%; max-width: 480px; margin: 0 auto;margin-bottom:40px; }
	.res-left { width: 98%; margin-right: 0; padding: 0 1%; order: 1; }
	.col-x1 { width: 100%; padding: 0 20px; }
	.col-x2 {display: flex;padding: 0 20px;}
	.col-x2 > div:first-child {margin-right: 2%;width: 49%;}
	.col-x3 {display: flex;padding:0 20px;}
	.r1 {width: 30%;}
	.adu{width:30%;margin-right: 5%;}
	.child {width: 30%;}
	button.booking{margin:0 20px;}
.fr-inner { margin-bottom: 40px; }
.res-right-inner{width:100%;}
	.res-left { width:100%;}
	.res-flip.cf{flex-wrap:wrap;}
	.res-right-inner{position:relative;top:0;}
	.r-left-inner{padding-right:0;}


	/********************banner*********************************/
}

@media(max-width:640px){
	form.subscribe-f input{min-width:200px;}
	button.subscribe-btn{width:150px;}
	.check-left h5, .check-right h5{font-size:16px;}
}

@media(max-width:480px){
	form.subscribe-f input { width: 100%; max-width: 250px; margin: 0 auto; }
	form.subscribe-f{display:block;}
	.serch-loc { margin-right: 0; margin: 0 auto; margin-bottom: 15px; display: inline-flex; width: 100%; }
	button.subscribe-btn { width: 100%; margin: 0 auto; text-align: center; max-width: 150px; display: block; }
	.r-main > div{width:100%;margin-right:0;margin:0 auto;margin-bottom:30px;}
	.r-main > div:nth-of-type(3n){margin-right:0%;margin:0 auto;margin-bottom:30px;}
	.r-main > div:nth-of-type(2n){margin:0 auto;margin-bottom:30px;}
	.addtional-s select { max-width: 42px; background-position: 94%; height: 37px; background-size: 8px; padding: 0 10px; font-size: 17px; margin-left: 5px; margin-right: 5px; }
	.addtional-s ul li label {font-size: 12px;}
	
}

@media(max-width:375px){
	button.submit{padding:0 10px;min-width:90px;}
}